prune .github

# Root
exclude .bandit
exclude .flake8
exclude .gitignore
exclude .isort.cfg
exclude .pre-commit-config.yaml
exclude CONTRIBUTING.md
include LICENSE
exclude MANIFEST.in
include pyproject.toml
include README.md
include setup.cfg
include setup.py

# Core
include eigency/*.h
include eigency/*.py
include eigency/*.pyd
include eigency/*.pyx
include eigency/*.cpp

# Eigen library
prune eigency/eigen
graft eigency/eigen/Eigen
include eigency/eigen/COPYING*
recursive-exclude eigency/eigen/Eigen CMakeLists.txt

# Tests
prune tests
