include LICENSE.txt
include MANIFEST.in
include README.md
include setup.py
include setup.cfg

# Core
include eigency/*.h
include eigency/*.py
include eigency/*.pyd
include eigency/*.pyx
exclude eigency/*.cpp

# tests
recursive-include tests *.cpp *.h *.py *.pyx

# Eigen library
prune eigency/eigen_3.2.8/
graft eigency/eigen_3.2.8/Eigen
include eigency/eigen_3.2.8/COPYING*
recursive-exclude eigency/eigen_3.2.8/Eigen CMakeLists.txt

